---
import MainLayout from '../layouts/main-layout.astro';
---
<MainLayout title="Tipo de reclamo">
  <div class="p-4 rounded-md mt-10 text-slate-700 w-1/3 mx-auto">
    <form class="flex-col" id="reclamo-tipo">

      <div class="flex justify-between my-5">
        <label for="internet">Internet: </label>
        <input type="radio" value="internet" id="internet" name="tipo" class="radio checked:bg-blue-500 bg-slate-200"/>
      </div>
      
      <div class="flex justify-between my-5">
        <label for="mail">Mail: </label>
        <input type="radio" value="mail" id="mail" name="tipo" class="radio checked:bg-blue-500 bg-slate-200"/>
      </div>

      <div class="flex justify-between my-5">
        <label for="pc">Problema en mi Computadora: </label>
        <input type="radio" value="pc" id="pc" name="tipo" class="radio checked:bg-blue-500 bg-slate-200"/>
      </div>

      <div class="flex justify-between my-5">
        <label for="plataforma">Problema de Plataforma / Aplicación / Sistema: </label>
        <input type="radio" value="plataforma" id="plataforma" name="tipo" class="radio checked:bg-blue-500 bg-slate-200"/>
      </div>
      <div class="text-center">
        <a type="button" href="#" id="link" class="btn">Siguiente</a>
      </div>

    </form>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const $reclamo_tipo = document.getElementById("reclamo-tipo");
      const $link = document.getElementById("link") as HTMLAnchorElement;

      $link.addEventListener('click',(e:any)=>{
        if(e.target.href.includes('#')){
          window['showToast']("Debes seleccionar al menos un tipo de reclamo");
        }
      });

      $reclamo_tipo.addEventListener('change', (e:any)=>{
        const op = e.target.value;
        $link.href = '/reclamo-'+op;
      })

      setTimeout(() => {
        const $r = document.querySelector('input[type="radio"]:checked') as any;
        if($r){
          $link.href = '/reclamo-'+$r.value;
        }
      }, 100);


    });
  </script>
</MainLayout>