<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img
            src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
            class="max-w-sm rounded-lg shadow-2xl"
        />
        <div>
            <h1 class="text-5xl font-bold">Sobre mí</h1>
            <p class="py-6">
                Me llamo Clara Brizuela, soy Profe de Biología nivel universitario y Lic. en Ciencias Biológicas.
            </p>
            <p class="py-6">
                Me encanta la biología, sobre todo la biología animal. Me considero fanática de la genética y la biología molecular. También me gustan otras áreas como la microbiología, anatomía, embriología y fisiología
            </p>
            <p class="py-6">
                A lo largo de mi carrera, he desarrollado diferentes estrategias pedagógicas que facilitan el aprendizaje. Mi enfoque se centra en facilitar tu estudio, ofreciéndote recursos prácticos, claros y accesibles que te ayudarán no solo a aprobar, sino también a disfrutar y comprender a fondo el fascinante mundo de la biología y la genética                
            </p>
            <button class="btn btn-primary text-white">Get Started</button>
        </div>
    </div>
</div>
