---
import EbookCard from "../ui/EbookCard.astro";
---

<div class="pb-20">
    <div class="hero h-96 py-20">
        <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Todos mis Ebooks y Cursos disponibles</h1>
            <p class="py-6">
                ¡Explora nuestra completa biblioteca de ebooks y cursos! Desde genética hasta ecología, encontrarás todo lo que necesitas para ampliar tus conocimientos. Aprende a tu propio ritmo con nuestros materiales interactivos y fáciles de entender. ¡Domina la biología y descubre los secretos de la vida!
            </p>
            <p class="py-6">
                Descubre el mundo de la biología con nuestros ebooks y cursos, 
                desde genética hasta ecología, todos los temas que necesitas con 
                una amplia gama de ebooks y cursos de biología para todos los niveles.
            </p>
            <button class="btn btn-primary text-white">Get Started</button>
        </div>
        </div>
    </div>

    <div class="py-10 flex-col space-y-10">
        <EbookCard/>
        <EbookCard/>
        <EbookCard/>
    </div>
</div>  