---
    import { Image } from 'astro:assets'
    import footer_brand_circle from '../../assets/footer-brand-circle.svg'  
import Socials from '../ui/Socials.astro'
---
<svg style="margin: 0 top:-10;" xmlns="http://www.w3.org/2000/svg" viewBox="0 -2 1440 320">
    <path fill="#AF4670" fill-opacity="1" d="M0,288L60,277.3C120,267,240,245,360,229.3C480,213,600,203,720,213.3C840,224,960,256,1080,272C1200,288,1320,288,1380,288L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
</svg>
<footer class="bg-neutral text-neutral-content p-10">
    <div class="footer">
    <aside>
        <Image src={footer_brand_circle} alt="La Profe Bióloga" height={120}></Image>        
    </aside>
    <div class="h-full flex items-center">
        <p class="w-full text-center">Lic. Clara Brizuela | Profe de biología | Divulgación científica</p>
    </div>
    <div class="h-full flex items-center">
        <p class="w-full text-center">Lic. Clara Brizuela | Profe de biología | Divulgación científica</p>
    </div>
    <nav>
        <h6 class="footer-title">Redes Sociales</h6>
        <div class="grid grid-flow-col gap-4 text-base-100">
            <Socials/>
        </div>
    </nav>
    </div>
    <div class="text-center">
        <p>&copy; 2024 Todos los derechos reservados</p>
    </div>
</footer>
