---
import { Image } from "astro:assets";
import main_img from "../../assets/main-img.png";
---

<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <Image
            alt="Main iamge"
            src={main_img}
            class="max-w-sm rounded-lg shadow-2xl"
        />
        <div>
            <h1 class="text-5xl font-bold">El mejor material para aprender y ejercitarse en biología</h1>
            <p class="py-6">
                Aprender genetica nunca fue tan facil
            </p>
            <button class="btn btn-primary text-white">Get Started</button>
            <button class="btn btn-primary text-white">Continue</button>
        </div>
    </div>
</div>
