---
import { Image } from "astro:assets";
import historias from "../../assets/historias-circle.svg";
---
<div class="wave-divider">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#C2C5EB" fill-opacity="1" d="M0,256L48,240C96,224,192,192,288,186.7C384,181,480,203,576,213.3C672,224,768,224,864,197.3C960,171,1056,117,1152,112C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</div>
<div class="hero min-h-screen bg-[#C2C5EB]">
    <div class="hero-content flex-col lg:flex-row">
        <Image
            alt="Historias destacadas"
            src={historias}
            class="max-w-sm"
        />
        <div class="text-white">
            <h1 class="text-5xl font-bold text-[#FFFFFF]">Historias Destacadas</h1>
            <p class="py-6">
              Nuestros alumnos brindando su testimonio, compartiendo sus experiencias y logros. Descubre cómo hemos ayudado a jóvenes de todas las edades a alcanzar sus metas, superar sus miedos y desarrollar todo su potencial. ¡Inspírate con sus historias y únete a nuestra comunidad!
            </p>

            <div class="carousel rounded-box w-96">
                <div class="carousel-item w-1/2">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1559703248-dcaaec9fab78.webp"
                    class="w-full" />
                </div>
                <div class="carousel-item w-1/2">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1565098772267-60af42b81ef2.webp"
                    class="w-full" />
                </div>
                <div class="carousel-item w-1/2">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1572635148818-ef6fd45eb394.webp"
                    class="w-full" />
                </div>
                <div class="carousel-item w-1/2">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1494253109108-2e30c049369b.webp"
                    class="w-full" />
                </div>
                <div class="carousel-item w-1/2">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1550258987-190a2d41a8ba.webp"
                    class="w-full" />
                </div>
                <div class="carousel-item w-1/2">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1559181567-c3190ca9959b.webp"
                    class="w-full" />
                </div>
                <div class="carousel-item w-1/2">
                  <img
                    src="https://img.daisyui.com/images/stock/photo-1601004890684-d8cbf643f5f2.webp"
                    class="w-full" />
                </div>
              </div>

            <p class="py-6">🔬Te enseño el maravilloso mundo de la biología y sus curiosidades</p>
            
            

        </div>
    </div>
</div>
<div class="rotate-180">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 12 1440 244">
        <path fill="#C2C5EB" fill-opacity="1" d="M0,256L48,240C96,224,192,192,288,186.7C384,181,480,203,576,213.3C672,224,768,224,864,197.3C960,171,1056,117,1152,112C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
    </svg>
</div>