<div class="hero min-h-screen">
    <div class="hero-content flex-col lg:flex-row">
        <img
            src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
            class="max-w-sm rounded-lg shadow-2xl"
        />
        <div>
            <h1 class="text-5xl font-bold">Planes</h1>
            <p class="py-6">
                A lo largo de mi carrera, he desarrollado diferentes estrategias pedagógicas que facilitan el aprendizaje. Mi enfoque se centra en facilitar tu estudio, ofreciéndote recursos prácticos, claros y accesibles que te ayudarán no solo a aprobar, sino también a disfrutar y comprender a fondo el fascinante mundo de la biología y la genética
            </p>
            <div class="flex gap-10">
                <ul class="list-inside list-disc">
                    <li>Planes a medida</li>
                    <li>Clases Offline y Online</li>
                    <li>E-Books</li>
                </ul>
                <ul class="list-inside list-disc">
                    <li>Planes a medida</li>
                    <li>Clases Offline y Online</li>
                    <li>E-Books</li>
                </ul>
            </div>
        </div>
    </div>
</div>
