---
import "../global.css"
import Head from '../components/html/Head.astro';
import Navbar from "../components/html/Navbar.astro";
//import BaseHead from '../components/BaseHead.astro';
//import Footer from '../components/Footer.astro';
const { title } = Astro.props;
---
<html lang="es" class="bg-white">
  <Head/>
  <Navbar/>
  <body class="bg-[url('/bg-dna.svg')]">
    <main>
      <slot /> <!-- your content is injected here -->
    </main>
  </body>
</html>