---
import { Image } from "astro:assets";
import dna from "../../assets/dna.svg"
---

<div class="hero-content card card-side -100 shadow-xl mx-auto bg-white">
    <div class="w-64">
        <Image
            src={dna}
            alt="dna"
        />
    </div>
    <div class="card-body">
        <h2 class="card-title">New movie is released!</h2>
        <p>Click the button to watch on Jetflix app.</p>
        <div class="card-actions justify-end">
            <a href="/ebook/" class="btn btn-primary text-white">Ver ebook</a>
        </div>
    </div>
</div>
