<div class="bg-base-100 min-h-screen grid grid-cols-6 lg:w-3/4 mx-auto lg:mt-20 mt-10 gap-4">
    <div class="col-span-6 sm:col-span-4">
        <div class="flex-col space-y-10 px-5">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Ebook de defensa de las plantas</h1>
                <p class="py-6 pe-6">
                    Non quo saepe quo dolor ut voluptates autem. Aspernatur harum ipsum in. Repudiandae earum voluptatem aperiam et architecto sequi at. Ex consequatur omnis dolorum quo. Enim ullam omnis molestias debitis dolore sunt non deserunt. Ut quos omnis nihil. Sequi illum asperiores ab minima harum quis. Cupiditate fuga dignissimos molestiae nostrum. Delectus ea ut vel doloribus. Sint repellendus veritatis provident et placeat.
                </p>
                <div>
                    <img class="mask mask-squircle" src="https://img.daisyui.com/images/stock/photo-1567653418876-5bb0e566e1c2.webp" />
                </div>
            </div>
            <div>
                <b>Resumen</b>
                <p>Quia consequatur numquam nisi repudiandae doloremque sunt</p>
                <b>Requerimentos: </b>
                <p>Quia consequatur numquam nisi repudiandae doloremque sunt</p>
                <b>Paginas: </b> <p>918</p>
                <b>Última actualización </b> <p>2024-09-28 17:53:37</p>
            </div>
        </div>
    </div>
    <div class="col-span-6 sm:col-span-2 m-5">
        <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
                <b>Precios</b>
                <h2 class="text-4xl font-bold">67.59 ARS</h2>
                <h2 class="text-4xl font-bold">12.33 USD</h2>
                <i>Acceso de por vida</i>
                <div class="mt-10 space-y-5 text-white">
                    <button class="btn btn-block text-white bg-blue-500">Comprar con MercadoPago</button>
                    <button class="btn btn-block text-white bg-yellow-600">Paypal</button>
                </div>
            </div>
        </div>
    </div>
</div>